header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 6rem;
    padding: 0 1rem;
    margin: 1rem;
    border-radius: 10px;
}

img {
    position: absolute;
    left: 2rem;
    object-fit: cover;
    width: 80px;
    padding: 0.8rem 0 0.8rem 1.5rem;
}

.active {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 0.2rem;
}

.inactive {
    color: #000;
}

nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #ff0000;
    border-bottom-color: #ff0000;
    transform: scale(1.05);
}